body {
    margin: 0 auto;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 302;
}

label {
    font-weight: bold;
    color:#5f9341;
    display: inline-block;
    margin: 10px 0px 10px;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #5f9341;
    margin-bottom: 10px;
}

input::placeholder {
font-style: italic;
font-weight:lighter;
color:#9fc28a
}

button {
    background: #5f9341;
    color: white;
    padding: 10px 20px;
    border: 1px solid #5f9341;
    font-weight: bold;
}

#delete-btn {
    background: white;
    color: #5f9341;
}

ul {
    margin-top: 20px;
    list-style: none;
    padding-left: 0;
}

li {
    margin-top: 5px;
}

a {
    color: #5f9341;
}


